<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nonu.anew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Numbers"
            android:label="@string/app_numbers"/>
        <activity android:name=".Phrases"
            android:label="@string/app_phrases"/>
        <activity android:name=".Colors"
            android:label="@string/app_colors"/>
        <activity android:name=".Family"
            android:label="@string/app_family"></activity>
    </application>

</manifest>